/* -----------------------------------
  Logo styles
------------------------------------ */
.logo {
  display: none; /* Initially hide the logo */
  height : 100%; 
  margin-right: 20px;
  position: absolute;
  top: 50%;
  left: 0; 
  transform: translateY(-50%); 
   box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0, 0 0 25px #0f0;
}
/* -----------------------------------
  mobile phone icon bounce animation

------------------------------------ */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}
@keyframes shine {
  0% {
    left: -150%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 150%;
    opacity: 0;
  }
}

.phone-icon {
  animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.phone-icon {
  -webkit-animation: bounce 3s infinite;
}



/* -----------------------------------
   style for the Navbar
             
------------------------------------ */
.navbar {
  position: fixed;
  top: 4cm;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:visible;
  display: flex;
  border-radius: 5px;
}


.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.navbar-toggle {
  position: fixed;
  left: 0;
  z-index: 99;
  display: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3a2df0;
  border: none;
  font-size: 18px;
  width: auto;
}
.navbar a:hover {
  color: yellow;
}

.navbar-toggle:hover {
  background-color: #FF4500;
  color: #FFFFFF;
}

/* -----------------------------------
  Style for qet quote modal
------------------------------------ */

/* Base styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    overflow: auto;
    padding-top: 50px;
}

.modal-content {
    margin: auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close-btn {
    color: black;
    float: right;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: orange;
    text-decoration: none;
}

/* Default styles for screen sizes of 370px and less */
.modal-content {
    width: 80%;
  max-width: 90%;
}






/* -----------------------------------
  Style for get quote button aslo
called quote form toggle button
------------------------------------ */
.quote-form-toggle {
  position: fixed;
  bottom: 10px; /* Adjusted to 20px as requested */
  left: 50%;
  transform: translateX(-50%); /* Centers the button horizontally */
  z-index: 99;
  display: block;
  color: white; /* White text for contrast and readability */
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to right, #3a2df0, #FF4500); /* Gradient background */
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: auto;
  transition: background-color 0.3s ease;
}
.quote-form-toggle::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%; /* start from further left to account for the skew */
  width: 100px; /* fixed width for the shine, adjust as needed */
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* more transparent white */
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.1); /* white shadow for glow effect */

  opacity: 0; /* initially invisible */
  animation: shine 3s ease-in-out infinite; /* Adjusted animation time and timing function */
  animation-delay: 7s; /* New delay added */
}

.quote-form-toggle:hover {
  background: linear-gradient(to right, #2a1fd0, #FF3400); /* Slightly darkened gradient for hover effect */
}



@media (min-width: 769px) {
  /* Center the mobile phone number box on the middle-right of the cta header */
.mobile-phone-number {
    width: auto;
    height: 100%;
    background-color: red;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    /* Adjusted for centering */
    right: 5px;
    transform: translateY(-50%);
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0, 0 0 25px #0f0;
    overflow: hidden;
    z-index: 1000;
  }
  .mobile-phone-number::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
    opacity: 0;
    animation: shine 5s ease-in-out infinite;
    animation-delay: 7s;
  }
  .mobile-phone-number a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.phone-number-text {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.phone-icon {
  width: 24px;
  height: auto;
}

.logo {
    display: block; /* Show the logo on larger screens */
  }


  /* Reduce the size of the cta header */
  header.cta {
    position: fixed;
    top: 0;
    height: 3cm; 
    width: 100%;
    z-index: 100;
    background-color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the cta header h1 */
header.cta h1 {
    font-size: 36px; 
    color: #006400;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 60%;
    white-space: normal; 
    overflow-wrap: break-word; 
}

.navbar {
  position: fixed;
  top: 3.2cm;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #333;
  list-style-type: none;
  overflow:visible;
  display: flex;
  border-radius: 5px;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li {
}



.navbar a:hover {
    background-color: #FF4500;
}

/* Style for the dropdown menu */
  /* Dropdown Styles */
  .dropdown {
      height: auto;
      position: relative;
      z-index: 199;
  }

  .dropdown:hover .submenu {
      display: block; /* Show submenu on hover */
  }

  .dropdown > a:after {
      content: '▼';  /* Downward pointing arrow */
      display: inline-block;
      margin-left: 5px;
      font-size: 10px;
      vertical-align: middle;
  }

  /* No need for the expanded class styles here since we're using hover */

  /* Submenu Styles */
  .submenu {
      display: none;
      position: absolute;
      top: 100%; /* Start right below the parent dropdown item */
      left: 0;
      width: auto;
      min-width: 200px;
      max-height: 60vh; /* Use viewport height for better experience */
      overflow-y: auto;
      background-color: #faf3e0;
      border-radius: 5px;
      z-index: 200;
  }

  .submenu li {
      list-style-type: none;
  }

  .submenu a {
      display: block;
      color: #333;
      text-align: left;
      padding: 10px 15px;
      text-decoration: none;
  }

  .submenu a:hover {
      background-color: #2029a2;
  }


   #quote-form {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 30px; 
    background-color: #e5ecff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .modal-content {
      width: 40%;
  }
}



/* -----------------------------------
  Mobile phone and tablet screen  size style 

------------------------------------ */
@media (max-width: 768px) and (min-width: 371px){
 .mobile-phone-number {
    width: 100%;
    max-width: 100vw;
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0, 0 0 25px #0f0;
    overflow: hidden;
    z-index: 1000;
  }
  .mobile-phone-number::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
    opacity: 0;
    animation: shine 5s ease-in-out infinite;
    animation-delay: 7s;
  }

  .mobile-phone-number a {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: (100vw);
    height: 100%;
    text-decoration: none;
    color: inherit;
    justify-content: center;
  }

  .mobile-phone-number .phone-number-text {
    font-size: 35px;
    color: white;
    /* Adjust as needed for bigger text size */
  }

  .mobile-phone-number .phone-icon {
    width: 50px;
    height: auto;
  }

  header.cta {
    position: fixed;
    top: 0;
    height: 5cm;
    width: 100%;
    max-width: 100vw;
    z-index: 100;
    background-color: white;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;

  }

  header.cta h1 {
    padding-top: 100px;
    padding-right: 0;
    max-width: 80%;
    font-size: 22px;
    color: #006400;
  }

  .navbar {
    display: none;
    width: 100%;
    //max-height: 300px;
    overflow-y: auto;
    z-index: 101;
  }
  .navbar > li:last-child {
      margin-bottom: 80px;
  }

  .navbar a {
    transition: background-color 0.3s, color 0.3s;
  }

  .navbar a:hover {
    color: yellow;
    background-color: #2029a2;
  }

  .navbar-toggle {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 3px 3px 3px 3px;
      background-color: white;
      border: none;
      border: 1px solid gray;
      cursor: pointer;
      color: lightslategray;
      z-index: 101;
  }

  .content-wrapper {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 30px;
    padding: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown {
      position: relative; 
      width: 100%;
  }

  .dropdown > a:after {
      content: '▼';  
      display: inline-block;
      margin-left: 5px;
      font-size: 10px;
      vertical-align: middle;
  }

  .dropdown.expanded > a:after {
      content: '▲';  
  }

  /* Submenu Styles */
  .submenu {
      display: none;
      position: absolute;
      top: 100%; 
      left: 0;
      width: 100%; 
      background-color: #faf3e0;
      border-radius: 5px;
     //max-height: 60vh;
      overflow-y: auto;
      z-index: 1000; /* High z-index to ensure it's above other items */
      scroll-behavior: smooth;
  }

  .submenu li {
      list-style-type: none;
  }

  .submenu a {
      padding: 10px 15px;
      display: block;
      color: #333;
      text-decoration: none;
  }

  .submenu a:hover {
      color: yellow;
  }

  .submenu a:active {
      transform: scale(0.95);
  }

  .submenu a:last-child {
      padding-bottom: 20px; /* Extra padding for the last submenu item */
  }

  
  .modal-content {
      width: 80%;
  }

}

/* -----------------------------------
    smaller screen style
       
------------------------------------ */



@media (max-width: 370px) {

  .mobile-phone-number {
    width: 100%;
    max-width: calc(100vw);
    padding: 20px 0;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
     box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0, 0 0 25px #0f0;
    overflow: hidden;
    z-index: 1000;
  }
  .mobile-phone-number::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
    opacity: 0;
    animation: shine 5s ease-in-out infinite;
    animation-delay: 7s;
  }

  .mobile-phone-number a {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: calc(100vw);
    height: 100%;
    text-decoration: none;
    color: inherit;
    justify-content: center;
  }

  .mobile-phone-number .phone-number-text {
    font-size: 30px;
    color:white;
    /* Adjust as needed for bigger text size */
  }

  .mobile-phone-number .phone-icon {
    width: 50px;
    height: auto;
  }

  header.cta {
    position: fixed;
    top: 0;
    height: 5cm;
    width: 100vw;
    z-index: 100;
    background-color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


  header.cta h1 {
    padding-top: 80px;
    padding-right: 0;
    font-size: 18px;
    color: #006400;
    width: 100%;
    max-width: calc(100vw - 40px)
  }

  .navbar {
    display: none;
    width: 100%;
   //max-height: 60vh;
    background-color: #333;
    overflow-y: auto;
    z-index: 101;
  }
  .navbar > li:last-child {
      margin-bottom: 80px;
  }

  .navbar a {
    transition: background-color 0.3s, color 0.3s;
  }

  .navbar a:hover {
    color: yellow;
    background-color: #2029a2;
  }


  .navbar-toggle {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 3px 3px 3px 3px;
      background-color: white;
      border: none;
      border: 1px solid gray;
      cursor: pointer;
      color: lightslategray;
      z-index: 101;
  }

  .dropdown {
      position: relative; 
      width: 100%;
  }

  .dropdown > a:after {
      content: '▼';  
      display: inline-block;
      margin-left: 5px;
      font-size: 10px;
      vertical-align: middle;
  }

  .dropdown.expanded > a:after {
      content: '▲'; 
  }

  /* Submenu Styles */
  .submenu {
      display: none;
      position: absolute; 
      //padding-left: 20px;
      top: 100%;
      left: 0;
      width: 100%; 
      background-color: #333;
      border-radius: 5px;
      max-height: 60vh;
      overflow-y: auto;
      z-index: 1000;
      scroll-behavior: smooth;
  }

  .submenu li {
      list-style-type: none;
  }

  .submenu a {
      padding: 10px 15px;
      display: block;
      color: white;
      text-decoration: none;
  }

  .submenu a:hover {
      color: yellow;
  }

  .submenu a:active {
      transform: scale(0.95);
  }

  .submenu a:last-child {
      padding-bottom: 20px; /* Extra padding for the last submenu item */
  }

  /* Scrollbar and Gradient hint for the submenu */
  
  


  submenu {
      max-height: 70vh; 
      overflow-y: auto; 
  }

  /* Styling for the scrollbar for better visibility */
  .submenu::-webkit-scrollbar {
      width: 5px;
  }

  .submenu::-webkit-scrollbar-thumb {
      background-color: #2029a2;
      border-radius: 5px;
  }

  .submenu::-webkit-scrollbar-track {
      background-color: #faf3e0;
  }



  

}

/* -----------------------------------
Style for the quote form

------------------------------------ */



.quote-form-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 
  rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  flex-basis: 50%;
}

/* Heading of the Form */
.quote-form-section h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #4CAF50;
}

/* Styling for Form Labels */
#quote-form label {
  display: block;
  color: #333;
  margin-bottom: 8px;
  font-size: 0.95em;
}

/* Styling for Input Fields */
#quote-form input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.95em;
  transition: border-color 0.2s;
}

#quote-form input:focus {
  border-color: #4CAF50;
  outline: none;
}

/* Add an asterisk after each label that precedes an input with the "required" attribute */
#quote-form label[for]:not([for="email"]):not([for="message"])::after {
  content: " *";
  color: red;
}
/* -----------------------------------
Style for the form submit button

------------------------------------ */




#quote-form button {
    width: 80%;            /* Adjusted width to be smaller */
    padding: 12px;
    margin-top: 12px;
    margin-right: auto;    /* Added for centering */
    margin-left: auto;     /* Added for centering */
    margin-bottom: 15px;   /* Set margin-bottom to 15px */
    display: block;        /* Set the display to block to make the button a block-level element */
    background-color: #ee111c;
    color: whitesmoke;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#quote-form button:hover {
  background-color: #45a049;
}
/* Styling for the Message Textarea */
#quote-form textarea#message {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.95em;
  transition: border-color 0.2s;
  resize: none; 
}

#quote-form textarea#message:focus {
  border-color: #4CAF50;
  outline: none;
}

/* -----------------------------------
  style for call button with 
  phone icon

------------------------------------ */

/* CSS for the call button */
#callButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #11a235;
  border-radius: 50%;
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0; /* Reduced neon green glow */*/
  border: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.2s, background-color 0.2s;
  overflow: hidden;
  z-index: 100;
}
#callButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 100px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
  opacity: 0;
  animation: shine 3s ease-in-out infinite;
  animation-delay: 7s;
}

#callButton:hover {
  transform: scale(1.1);
  background-color: #333;
}

#callButton img {
  max-width: 30px;
  height: auto;
}
@media (max-width: 768px) {  /* Adjust 768px based on your mobile breakpoint */
  .submenu {
    max-height: 70vh;  
  }
}